---
import Layout from '../../layouts/Layout.astro';
import { ghostClient } from '../../lib/ghost';
import Footer from '../../components/Footer.astro';
import WhatsInside from '../../components/WhatsInside.astro';
import HeaderMain   from '../../components/headerMain.astro';
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";

// Ensure this function is correct and allPosts is defined within it
export async function getStaticPaths() {
  const allTags = await ghostClient.tags.browse({ limit: 'all' });

  return allTags.map((tag) => {
    return {
      params: { tag: tag.slug },
      props: { tag },
    };
  });
}

// Use Astro's API to get the tag and posts
const { tag } = Astro.params;
const posts = await ghostClient.posts.browse({
  limit: 'all',
  filter: `tag:${tag}`,
  include: 'authors,tags',
}).catch((err) => {
  console.error(err);
});
---
<style global>
  @tailwind base;
</style>
<Layout pageTitle={`Posts tagged with ${tag}`}>
  <div class="max-w-screen-xl mx-auto">
  <HeaderMain />
  <Breadcrumbs />
  <svg
    slot="separator"
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    ><polyline points="9 18 15 12 9 6"></polyline>
  </svg>
  </Breadcrumbs>
  <div class="max-w-screen-xl mx-auto">
  <h2>Posts tagged with {tag}</h2>
  <ul>
    {posts.map((post) => (
      <li key={post.id}>
        <a href={`/${post.slug}`}>
          <h3>{post.title}</h3>
          <p>{post.excerpt}</p>
          <p>By: {post.authors[0].name}</p>
        </a>
      </li>
    ))}
  </ul>
  </div>
</div>
  <WhatsInside />
<Footer />
</Layout>